<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether.min.css">
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="/scripts/app.js"></script>
    <title>JoinIn - Your City, Your Story</title>
</head>

<body>
    <div id="city-container" class="container">
        <script id="city-template" type="text/x-handlebars-template">
            {{#each city}}
            <a href="/cities/{{_id}}">
                <img src="{{logo}}" class="city-logo" alt="City Logo">
                <h1 class = "city-name" data = {{_id}}>{{name}}</h1>
            </a>

            <div class="blurb-box">
                <h4>{{blurbs.0.poster}}</h4>
                <p>{{blurbs.0.textContent}}</p>
                <h5>Likes: {{blurbs.0.likes}}</h5>
            </div>
            {{/each}}
        </script>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
</body>

</html>
