<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <script src="scripts/app.js"></script>
</head>

<body>
    <div id="city-container">
        <script id="city-template" type="text/x-handlebars-template">
            {{#each city}}
            <a href="#">
                <img src="{{logo}}" alt="City Logo">
                <h1 class = "city-name" data = {{_id}}>{{name}}</h1>
            </a>

            <div class="blurb-box">
                <h4>{{blurbs.0.poster}}</h4>
                <p>{{blurbs.0.textContent}}</p>
                <h5>{{blurbs.0.likes}}</h5>
                <button type="button" class = "deleteBlurbBtn" name="deleteBtn">X</button>
                <button type="button" class = "likeBlurbBtn" name="likeBtn">+1</button>
            </div>
            {{/each}}
        </script>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
</body>

</html>
