/*$color1: rgba(255, 255, 141, 1); Pastel Yellow
$color2: rgba(46, 196, 182, 1); Cornflowery Blue 
$color3: rgba(217, 242, 237, 1); Light Blue White
$color4: rgba(247, 255, 247, 1); White
$color5: rgba(52, 52, 52, 1); Dark Brown/Black
*/


*{
text-align: center;
margin: 0;
padding: 0;
}

body{
background-color: #d9f2ed;
}

#city-container{

}
.city-name{
	font-size: 60px;
	color: #343434;
}
.back{
  background-color: #ffff8d;
  color: #2ec4b6;

}
.newBlurbBtn{
  background-color: #ffff8d;
  color: #2ec4b6;
}
.modal{

}
.fade{

}
#blurbModal{

}
.modal-dialog{

}
.modal-content{

}
.modal-header{

}
.modal-title{

}
.modal-body{

}
.form-horizontal{

}
.form-group{

}
.col-md-4{

}
.control-label{

}
.form-control{

}
.input-md{

}
.modal-footer{

}
.btn{

}
.btn-default{

}
.btn-primary{

}
.blurb-box{
	background-color: #2ec4b6;
	margin: 10%;
	padding: 5px;
}
.blurbText{
  color: #ffff8d;
}
.likes{
  color: #ffff8d;
}
.posterName{
	color: #ffff8d;
}
.deleteBlurbBtn{
	background-color: #2ec4b6;
	border-radius: 2px; 
	border: 2px solid #ffff8d;
	font-size: 12px;
	color: #ffff8d;
	padding: 1px 3px;
}
.likeBlurbBtn{
	background-color: #2ec4b6;
	border-radius: 2px; 
	border: 2px solid #ffff8d;
	font-size: 12px;
	color: #ffff8d;
	padding: 1px 3px;
}
