/*$color1: rgba(255, 255, 141, 1);
$color2: rgba(46, 196, 182, 1);
$color3: rgba(217, 242, 237, 1);
$color4: rgba(247, 255, 247, 1);
$color5: rgba(52, 52, 52, 1);
*/


*{
font-align: center;
margin: 0;
padding: 0;
}
