/*$color1: rgba(255, 255, 141, 1); Pastel Yellow
$color2: rgba(46, 196, 182, 1); Cornflowery Blue 
$color3: rgba(217, 242, 237, 1); Light Blue White
$color4: rgba(247, 255, 247, 1); White
$color5: rgba(52, 52, 52, 1); Dark Brown/Black
*/
*{
	position: center;

}
body{

}
header{
	background-color: rgba(52, 52, 52, 1);
}

#city-container{
	background-color: rgba(52, 52, 52, 1);
	padding: 50px;

}

.city-logo{
  display: block;
  width: 300;
  max-width: 100%;
  height: 200;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #FE5D26;
  margin: 0;
}
.city-name{
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  color: #f7fff7;
}
#nav-btns{
	float: left;
}
#homeBtn{
  background-color: #d9f2ed;
  color: #343434;
}
#newBlurbBtn{
  background-color: #d9f2ed;
  color: #343434;
}

#blurbModal{
   font-family: 'Open Sans', sans-serif;

}
.blurb-box{
	background-color: #ffff8d;
	margin: 10%;
	padding: 5px;
	box-shadow: 10px 10px 5px grey;
	border: 2px solid rgba(46, 196, 182, 1);
    border-radius: 4px;
}
.blurbText{
  color: #343434;
  font-family: 'Open Sans', sans-serif;
}
.likes{
  color: #343434;
  font-family: 'Open Sans', sans-serif;
}
.posterName{
	font-family: 'Raleway', sans-serif;
	color: #343434;
}
.deleteBlurbBtn{
	background-color: #2ec4b6;
	border-radius: 2px; 
	font-size: 12px;
	color: #343434;
	padding: 1px 3px;
    font-family: 'Open Sans', sans-serif;
}
.likeBlurbBtn{
    background-color: #2ec4b6;
	border-radius: 2px; 
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	color: #343434;
	padding: 1px 3px;
}
